.wrapper {
    display: inline-block;
}
.gameRows {
     display: table;
    }
.gameRow {display: table-row;}
.gameCell, .shipCell {
    border: 1px solid grey ;
    margin: 0;
    height: 1.1em;
    line-height: 1.1em;
    width: 1.1em;
    border-radius:2px;
    text-align: center;
    vertical-align: middle;
}

.gameCell {
    display: table-cell;
    background-color: lightsalmon;
}
.space {
    display: inline-block;
    width: 20px;
}
.harbor {
    margin-left: 50px;
    display: inline-block;
    position: relative;
}
.harbor .ships:nth-child(2) {
    height: 62px;
}
.harbor .ships:nth-child(3) {
    height: 42px;
}
.harbor .ships:last-child {
    height: 20px;
}
.ships {
    display: block;
    height: 80px;
}
.ship {
    /*display: inline-block;*/
    margin-left: 50px;
    float:left;
    background-color: #35b1a2;
}
.ship:last-child:after{content:''; clear:both;}
.shipCell {
    display: inline-block;
}
.free {background-color: rgb(227, 247, 255); }
.ship-ready {background-color: #35b1a2;}
.busy {background-color: tomato !important; }
.hover {
    border: none;
    padding: 1px;
    background-color: gold;
    border-radius: 0;
}

.checked {
    background-color: gold !important;
}
.vertical {
    width:20px;
}

.vertical .shipCell {
    display:block;
}

.horizontal {
    /*transform: rotate(-90deg);*/
}
.disabled {
    visibility: hidden;
}
button {
    width: 200px;
    height: 60px;
    border-radius: 4px;
    font-weight: 900;
    border: 1px solid tomato;
    margin-left: 108px;
    position: fixed;
    top: 200px;
    left: 200px;
}